<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet", href="/public/main.css">
    <link rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous">
</head>
<body>
    if !user
        div(id="user-box")
            button 
                a(href="/user/login") 로그인
            button 
                a(href="/user/register") 회원가입
            button 
                a(href="/user/git/login") 깃허브 로그인

    else 
        div(id="user-box")
            button 
                a(href="/user/logout") 로그아웃

    <div class="main-container"> 
        <h1 class="main-clock-container" id="clock-container">
        </h1>

        <form class="search-input-form" action="/char/search">
            <input name="room" class="search-input" type="search" placeholder="  채팅방 검색" >
            <button class="search-btn fas fa-search"></button>
        </form>


        
        <div  class="main-shortcut-container">
                <h3>MEETING</h3>
                <ul>
                    <a href="/chat/1"  target="_blank">
                        <li class="tile">chat1</li>
                    </a>
                    <a href="/chat/2"  target="_blank">
                        <li class="tile">chat2</li>
                    </a>
                    <a href="/chat/3"  target="_blank">
                        <li class="tile">chat3</li>
                <ul>
        </div>

    </div>

    <script type="module" src="/public/main.js"></script>
</body>
</html>