<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        div(class="login-form")
            form
                input(name="email")
                input(name="password")
                input(name="confirm-password")
                button 회원가입
        div
           button github회원가입
    
