<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        div(class="login-form")
            form(action="/user/register", method="POST")
                input(name="name" placeholder="name")
                input(name="email" placeholder="email")
                input(name="password" placeholder="password")
                input(name="confirmPassword" placeholder="confirm password")
                button 회원가입
        div
           button github회원가입
        if message
            div=message
    
