<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/public/slack.css")
        link(rel="shortcut icon", href="/public/favicon.png", type="image/x-icon")
        <script src="https://kit.fontawesome.com/00307318ee.js" crossorigin="anonymous" defer></script>
        
        script( src="/socket.io/socket.io.js" defer)
        script(src="/public/joinNamespace.js" defer)
        script(src="/public/joinRoom.js" defer)
        script( src="/public/chat.js" defer)
        title slack
    body
        section(class="main")
            section(class="namespace")
                img(id="current-namespace" src="/public/backgroud4.jpg", class="img" alt="first")
                img(src="/public/image1.jpg", class="img" alt="first")
                img(src="/public/image2.jpg", class="img" alt="first")
            
            section(class="rooms")
                h1(class="title") ROOMS
                ul(id="room-list")
                    li(id="current-room")
                        i(class="fas fa-globe-asia")
                        span Cats    
                    li
                        i(class="fas fa-globe-asia")
                        span others    

            section(class="chatting-room")
                div(class="header")

                    div(class="title")
                        h1(class="name") Cats
                        div(class="people-nums")
                            span 1
                            i(class="fas fa-user-alt")

                    span(class="welcome-msg") welcome 
                
                div(id="contents" class="messages")
                    div(class="user-message")
                        img(src="/public/user_image.jpg", alt="userimg")
                        div(class="container")
                            div(class="info")
                                div(class="name") #{name}
                                div(class="time") 4.36pm
                            <div class="content"></div>

                form(class="msg-form")
                    input(id="user-message" class="msg-input")

        nav(class="navbar")        
            i(class="far fa-user")
            i(class="fas fa-cog")  